# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
/out/
.idea/

#template_java_project/src/resources/application.properties
#out/resources/application.properties
